@charset 'UTF-8';

*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 54, 138);
    color: white;
}

h1 {
    margin: 10px 0px;
}

main
{
    width: 600px;
    height: 500px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.342);
}

#res
{
    text-align: center;
    margin-bottom: 20px;
}

#img
{
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 50%;
}

form
{
    padding: 10px;
}

form div
{
    padding: 10px 0px;
}

input
{
    margin-right: 5px;
}

footer
{
    margin-top: 10px;
}
